@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    color: #000000;
    background-color: #EEEFF5;
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#Yoga-Booking{
    margin-top: 15px;
}
header, footer{
    text-shadow: 2px 2px 4px #000000;
}
table {
    width: 100%;
    text-align: left;
    background-color: #F5F7FA;
    margin-bottom: 3rem;
}

th {
    color: #848484;
    padding: .75rem 1rem;
    font-weight: 300;
    text-transform: capitalize;
}

tr {
    border: thin solid #EAECEF;
    padding: 5px;
}

td {
    padding: 1rem;
}

caption {
    font-family: sans-serif;
}

.table-head {
    display: flex;
    justify-content: space-between;
}

.table-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

.add-btn {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    
    &:hover {
        background-color: #234AE2;
        border-color: #234AE2;
        color: #EEEFF5;
    }
}
