.table-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    background-color: #F5F7FA;
    border-radius: 10px;
    
    span {
        padding: 1rem;
    }
}

table, .table-grid {
    width: 100%;
    text-align: left;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.025);
}

th {
    background-color: #F5F7FA;
    color: #848484;
    padding: .75rem 1rem;
    font-weight: 300;
    text-transform: capitalize;
    font-size: .85rem;
    
    &:first-child {border-top-left-radius: 10px;}
    &:last-child {border-top-right-radius: 10px;}
}

tr {
    border-bottom: thin solid #EAECEF;
    cursor: pointer;
    
    &:hover td {background-color: #EEEFF5;}
    
    &:last-child {
        td:first-child {border-bottom-left-radius: 10px;}
        td:last-child {border-bottom-right-radius: 10px;}
    }
    
    &.empty {text-align: center;}
}

td {
    padding: 1rem;
    background-color: #F5F7FA;
}

.table-informations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    &.column {
        flex-direction: column;
        
        .table-title {
            margin-bottom: .5rem;
        }
    }
    
    .table-title {
        font-size: 2rem;
        font-weight: 600;
    }    
}
